.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.buttons button {
  color: #000;
  background: #fff;
  padding: 0.65rem 1rem;
  border-radius: 10px;
  font-size: 0.85rem;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
  font-family: "Poppins";
}
.buttons button.active {
  background: #8c12f0;
  color: #fff;
}
.workImages {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 800px) {
  .workImages {
    grid-template-columns: repeat(2, 1fr);
 }
}
@media screen and (max-width: 600px) {
  .workImages {
    grid-template-columns: 1fr;
 }
}
.workImages .workImage {
  max-width: 380px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (max-width: 600px) {
  .workImages .workImage {
    max-width: 350px;
 }
}
.workImages .workImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.workImages .workImage .hoverLayer {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.workWrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workWrap h4 {
  margin-bottom: 1rem;
}

.workWrap__icon {
  display: flex;
}


.workImages .workImage .hoverLayer a {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.workImages .workImage .hoverLayer a svg {
  color: #45505b;
  font-size: 1.5rem;
}
.talk {
  margin-top: 3rem;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 1rem;
}
.talk .talk_left h3 {
  font-size: 1.5rem;
}
.talk .talk_left h3 span {
  font-size: 3.5rem;
  color: #8c12f0;
}
@media screen and (max-width: 599px) {
  .talk .talk_left h3 span {
    font-size: 2rem;
 }
}
@media screen and (max-width: 360px) {
  .talk .talk_left h3 span {
    font-size: 1.5rem;
 }
}
.talk .talk_right {
  align-self: flex-end;
  margin-bottom: 1.5rem;
  background: #8c12f0;
  padding: 0.65rem 1rem;
  border-radius: 10px;
  font-size: 0.85rem;
}
.talk .talk_right a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.portfolio .workImages .workImage {
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .workImages .workImage .hoverLayer::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .workImages .workImage .hoverLayer::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

/* .portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
} */